<?xml version="1.0"?>
<settings>

  <eigenvalue>
    <batches>10</batches>
    <inactive>5</inactive>
    <particles>100</particles>
  </eigenvalue>

  <source>
    <space type="box">
      <parameters>
        -5 -5 -10
         5  5  10
      </parameters>
    </space>
  </source>

  <output tallies="false" />

</settings>
